section {
  background-color: #c3c3c3;
  padding: 2rem;
  border-radius: 0.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

header span {
  font-size: 2rem;
  margin-left: 1rem;
}

ul li {
  margin: 1.5rem;
}
